body {
    padding: 0 200px 200px 100px;
}

#top p {
    font-size: 100px;
}

#content {
    border: 1px solid;
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;
}

#content img {
    width: 600px;
}